html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
#sentence_input {
    position: relative;
}

#mylbl {
    transition: all 0.3s ease-out;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
}
#sentence{
    width: 400px;
}
#playme, #recordme{
    margin-right: 5px;
    margin-left: 5px;
}
.indic{
    border: 1px solid #990000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2 ease-in;
    }
#wave-indicator{
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute; 
    overflow-x: scroll;
}
#indic-cover{
    width: 70%;
    padding: 0;
    margin: 0;
    width: 70%;
    height: 100px;
    position: relative;
}
#wave-line{
    width: 100%;
    height: 1px;
    background-color: rgba(80, 80, 80, 0.3);
    position: absolute;
    top:calc(50% - 1px);
    left: 0px;
}
#myplayer{
    display: none;
}
#screen{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: rgba(200, 200, 0, 0.3);
    display: none;
}
#screen img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
#feedback{
    width: 70%;
}
h3{
    text-align: center;
}
.wrong{
    color: red;
    cursor: pointer;
}
.wrong:hover{
    text-shadow: 0px 0px 2px 3px red;
    font-weight: bold;
}
span{
    margin-right: 3px;
    margin-left: 3px;
}
.missing{
    color: #ff9900;
    cursor: pointer;
}
.missing:hover{
    text-shadow: 0px 0px 2px 3px #ff9900;
    font-weight: bold;
}
.extra{
    color:#990099;
    cursor: pointer;
}
.extra:hover{
    text-shadow: 0px 0px 2px 3px #990099;
    font-weight: bold;
}
.wrong-box{
    background-color: red;
    border:1px #333 solid;
    border-radius: 3px;
}
.missing-box{
    background-color:#ff9900;
    border:1px #333 solid;
    border-radius: 3px;
}
.extra-box{
    background-color:#990099;
    border:1px #333 solid;
    border-radius: 3px;
}
.space{
    padding-right: 5px;
    padding-left: 5px;
}
.center{
    text-align: center;
}
.border{
    border-left: 1px #dee2e6 solid;
    border-right: 1px #dee2e6 solid;
    padding:0px;
}
.nowrap{
    white-space: nowrap;
    text-overflow: auto;
}
.tts{
    cursor: pointer;
    font-weight: bold;
    
}
.tts:hover{
    color:#009fff;
}
.table{
    display: inline-block;
}
#example-pronunciation{
    border: 1px solid #333;
    box-shadow: 3px 2px 0px 6px #333;
    display: none;
    border-radius: 5px;
    padding: 5px;
}
.emph{
    text-decoration: underline;
    font-weight: bold;
    color: #009fff;
}
.li:hover{
    color: #009fff;
    text-shadow: 0px 0px 2px 3px #009fff;
}