<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <link href="css/home.css" rel="stylesheet" type="text/css" />
    <title>Home</title>

</head>
<body>
    <div id="sentence_input" onclick="activate()">
        <span id="mylbl">Type your text here</span>
        <input tyep="text" id="sentence" onblur="goback()" onkeyup="checktext()"/>
    </div>
    <div>
        <input type="button" id="recordme" class="btn btn-sm btn-danger" value="Record" disabled="disabled" onclick="startRecording()"/>
        <input type="button" id="playme" class="btn btn-sm btn-success" value="Play" disabled="disabled" onclick="playaudio()"/>
        <input type="button" id="btnEvaluate" class="btn btn-sm btn-warning" value="Get Feedback" disabled="disabled" onclick="nextStage()"/>
    </div>
    <div id="indic-cover">
        <div id="wave-line"></div>
        <div id="wave-indicator">
        </div>
    </div>
    <div id="feedback">
        <h3>Feedback</h3>
        <div id="fbBody">You pronounced this as</div>
    </div>
    <audio id="myplayer" controls="false" onended="playingended()" onTimeUpdate="showBars(this)"></audio>
    <div id="screen">
        <img src="img/loading.svg"/>
    </div>
    <script>
        var Mic;
var left = 0;
var waveInterval;
var soundIndicatorInterval;
var recording = false;
var mycontext;
var audioChunks;
var mediaRecorder;
var blobToSend;
    </script>
    <script src="js/newaudio.js"></script>
    <script src="js/home.js"></script>
</body>
</html>